{% extends "users/base.html" %}
{% block content1 %}
    <h1>About Wordle Page</h1>
    <p>Wordle is a fun and challenging puzzle game where players have six attempts to guess a five-letter word. Here's how to play:</p>
    <ol>
        <li>Each guess must be a valid five-letter word. Hit the enter button to submit.</li>
        <li>After each guess, the color of the letters changes to show how close your guess was to the word.</li>
        <li>A green letter means the letter is in the word and in the correct spot.</li>
        <li>A yellow letter means the letter is in the word but in the wrong spot.</li>
        <li>A gray letter means the letter is not in the word in any spot.</li>
        <li>Use the clues from the colored letters to make your next guess.</li>
        <li>You have six tries to guess the correct word and win the game.</li>
    </ol>
    <p>Enjoy playing Wordle and challenge your friends to see who can guess the word with the fewest attempts!</p>
{% endblock %}