# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
.env
server.log 
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

misc_info_and_organization/important_commands.md
SQL Analysis/

Lib
Scripts

five_letter_words.txt
wordle_gato365/wordle/static/admin/
wordle_gato365/wordle/static/user/



__pycache__
server.log
debug.log
staticfiles/