{% extends "users/base.html" %}
{% load static %}


{% block game_content %}



<link href = "{% static 'wordle/css/styles.css' %}" rel = "stylesheet">  


    <div id="game">
        <br>
        <h1>Wordle Clone</h1>
        
        <input type="text" id="guessInput" maxlength="5" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        <button onclick="submitGuess()">Guess</button>
        <div id="attemptsLeft"></div>
        <div id="attemptedWords"></div> 
        <div id="feedback"></div>
        <div id="attemptsLeft"></div>
    </div>
    

    <script src="{% static 'wordle/js/scripts.js' %}"></script>

{% endblock game_content %}