body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#game {
    margin: auto;
    width: 300px;
}

input, button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    width: 95%;
}

#feedback {
    margin-top: 20px;
    font-size: 24px;
}

.green {
    color: #154734;
}

.yellow {
    color: #BD8B13;
}

.gray {
    color: gray;
}

#sessionInfo {
    display: none; /* Initially hide the textbox */
}
.styled-textarea {
    width: 100%;
    max-width: 600px;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: vertical;
}


/* General button styling */
button {
    background-color: #154734; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the buttons appear inline */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Hover effect for buttons */
button:hover {
    background-color: #154734; /* Darker green */
}

/* Specific styling for the start button */
#startButton {
    background-color: #5CB8B2; /* Blue background */
}

/* Hover effect for the start button */
#startButton:hover {
    background-color: #5CB8B2; /* Darker blue */
}

/* Specific styling for the restart button */
#restartButton {
    background-color: #f44336; /* Red background */
}

/* Hover effect for the restart button */
#restartButton:hover {
    background-color: #da190b; /* Darker red */
}

/* Styling for the input field */
#guessInput {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: calc(100% - 24px); /* Full width minus padding */
}

/* Styling for the textarea */
.styled-textarea {
    width: calc(100% - 24px); /* Full width minus padding */
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

.attempt-box {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .letter-box {
    width: 40px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    font-size: 48px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }





/* New */
.green {
    background-color: #6aaa64;
    color: white;
  }
  
  .yellow {
    background-color: #BD8B13;
    color: white;
  }
  
  .gray {
    background-color: #787c7e;
    color: white;
  }